<html>
<head></head>
<body>
<br>
<a href="/">Home</a>
<br>
<h1> Welcome to some Postings</h1>
categories: 
{{#posts}}
<a href="/category/{{category}}">{{category}}</a>
{{/posts}}

<br><br>

{{#posts}}

{{title}} <a href="/edit/{{id}}">edit</a><br>
{{body}} <br>
{{category}} <br>
<a href="/comment/{{id}}">Leave A Comment</a>
<br> <br>
<a href="/delete/{{id}}">remove this post</a>
<br>
<br>
{{/posts}}

<br>
<h2><a href="/post">Add a Post (or 3) Here</a></h2>


</body>
</html>