<html>
<head></head>
<body>
<br>
<a href="/">Home</a>
<br>
<h1> Welcome to some Postings</h1>
categories: 
{{#posts}}
<a href="/category/{{category}}">{{category}}</a>
{{/posts}}

<br><br>

{{#posts}}

{{title}}<br>
{{body}} <br>
{{category}} <br>
<br>
<br>
{{/posts}}

<br>
<h2><a href="/login">Login to Post/Comment</a></h2>


</body>
</html>