<html>
<head></head>
<body>
<br>
<a href="/">Home</a>
<br>
<h2>Registration</h2>

<form method ="POST" action="/register">
<input type="text" placeholder="User Name" name="name" />
<br><input type="password" placeholder="Password" name="password" />
<br>
<br><button>Register</button>
</form>



{{#message}}
 {{message}}
{{/message}}


</body>
</html>