<html>
<head></head>
<body>
<br>
<a href="/x/">Home</a>
<br>
<h1> Add A Comment</h1>
categories: 
{{#all}}
<a href="/x/category/{{category}}">{{category}}</a>


<br><br>


{{title}}
{{body}}
{{category}}


Comment Here

<form method="POST" action="/x/comment/{{id}}">
<input type="text"  placeholder="title" name="subject" />
<input type="text" placeholder="comment" name="comment" />
<button>Update My Words</button>
</form>

{{/all}}

{{#all.cmts}}<br><br>


{{subject}}<br>
{{comment}}
<br>
<a href="/x/delete-comment/{{id}}">delete comment</a>
{{/all.cmts}}


</body>
</html>