<html>
<head><link rel="stylesheet" href="/style.css"></head>
<body>

<h2>Patch your POST!</h2><ul>
<br>
<a href="/home">Home</a>
<br>
<li>
<form method ="POST" action="/home/edit/{{post.post_id}}">
<input type="text" value="{{post.title}}" name="name" />
<br>
<textarea type="text" name="body" rows="5" cols="24">
{{post.body}}
</textarea>

<br><button>Patch the Post</button>
</form>
</li><li>
<form method='POST' action='/home/delete/{{post.post_id}}'>
<button>DELETE THIS POST</button>
</form></li>
</ul>
</body>
</html>