<html>
<head>
<link rel="stylesheet" href="/style.css">
</head>
<body>

<a href="/newpost">Post A New Post</a>
<br><br>
<ul>
{{#posts}}
<li>
<div><div>
{{title}} </div><div> {{date_created}}</div></div>
<div>
{{body}}
</div>
<form method='get' action='/edit/{{post_id}}'>
<button>Edit Post</button>
</form>
</div>
</li>
{{/posts}}
</ul>

</body>
</html>