<html>
<head>
<link rel="stylesheet" href="/style.css">
</head>
<body>

<h2>Welcome to words on Web</h2>
The Funs Starts When You <a href="/login">Login<a>
<br><br>
<ul>
{{#posts}}
<li>
<div><div>
<h3>{{title}}<h3> </div><div> {{date_created}}</div></div>
<div>
<p>{{body}}</p>
</div>


</div>
</li>
{{/posts}}
</ul>

</body>
</html>