<html>
<head><link rel="stylesheet" href="/style.css"></head>
<body>


<h2>Login</h2>
<ul><li>
<form method ="POST" action="/login">
<input type="text" placeholder="User Name" name="name" />
<input type="password" placeholder="Password" name="password" />
<br>
<br><button>Login</button>
</form>
</li>
</ul>
<h2><a href="/register">Join Us - Register Today</a></h2>

{{#message}}
  {{message}}
{{/message}}

</body>
</html>