<html>
<head><link rel="stylesheet" href="/style.css"></head>
<body>


<h2>Add a POST!</h2>
<ul><li>
<form method ="POST" action="/home/newpost">
<input type="text" placeholder="Your Post Title" name="name" cols="24"/>
<textarea type="text" name="body" rows="5" cols="24">
Your Story Here..
</textarea>
<br>
<br><button>Post the Post</button>
</form>
</li>
</ul>

</body>
</html>