<html>
<head><link rel="stylesheet" href="/style.css"></head>
<body>


<h2>Add a POST!</h2>
<form method ="POST" action="/newpost">
<input type="text" placeholder="title" name="name" />
<input type="text" placeholder="Your Post" name="body" />
<button>Post the Post</button>
</form>


</body>
</html>