<html>
<head><link rel="stylesheet" href="/style.css"></head>
<body>


<h2>BECOME ONE OF US</h2>
<ul><li>
<form method ="POST" action="/register">
<input type="text" placeholder="User Name" name="name" />
<input type="password" placeholder="Password" name="password" />
<br>
<br><button>Register</button>
</form>
</li>
</ul>


{{#message}}
 {{message}}
{{/message}}

</body>
</html>